section.about
	.container
		.about__left
			.about__subtitle about us
			h2 The team behind the brand.
			p Proin elementum fermentum auctor. Nulla semper, est eget congue pellentesque, erat nulla molestie mi, in finibus leo nisl ac lectus. Praesent non urna. Nulla congue porta lectus in laoreet. Aenean pellentesque vitae metus id porttitor.t
			a(href="#").btn Learn More
		
		.about__pict
			img(src="img/about.jpg" alt="alt")