section.main
	.container.text-center
		h1 Grow your business online. Get. More. Leads.
		.main__text Wanna get serious into digital marketing? Then you need leads and this is where we can help you.
		.main__buttons
			a(href="#" class="btn") Start here.
			a(href="#" class="btn") Learn More