section(class="main pb-[40px] sm:pb-[80px] md:pb-[120px] lg:pb-[164px]")
	.container.text-center.flex.flex-col.items-center
		h1 Grow your business online. Get. More. Leads.
		div(class="main__text max-w-[574px]  mb-[34px]") Wanna get serious into digital marketing? Then you need leads and this is where we can help you.
		div(class="main__buttons sm:py-0 flex flex-col sm:flex-row gap-[15px] sm:gap-[27px]")
			a(href="#" class="btn") Start here.
			a(href="#" class="btn btn-emp") Learn More
