header.header
	div(class="container flex justify-between items-center py-2 sm:py-4 md:py-6 lg:py-8")
		.header__logo(class="mr-[15px] shrink-0 max-w-[132px]")
			img(src="img/logo.svg" alt="alt")

		.header__menu.menu-header
			button(class="toggle-mnu md:hidden z-20")
				span
			.button
				svg.w-6.h-6(xmlns='http://www.w3.org/2000/svg' class="fill-black dark:fill-white" fill='none' viewBox='0 0 24 24' stroke-width='1.5')
					path(stroke-linecap='round' stroke-linejoin='round' d='M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z')

			nav(class="menu-header__body fixed md:static top-0 left-0 w-full h-full md:h-auto bg-accent md:bg-transparent translate-x-[-100%] md:translate-x-0 transition-all z-10 md:z-0 overflow-auto md:overflow-visible")

				- var items = ['About', 'Services', 'Case Studies', 'Careers', 'Blog']
				ul(class="menu flex-col md:flex-row align-center flex md:gap-12 h-full md:h-auto justify-center")
					each item in items
						li.menu__item.text-center
							a(href="#" class="menu__link text-white md:text-text text-xl md:text-lg py-2.5 md:py-0 inline-block hover:text-accent transition-colors")= item


